.menu-container ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-around; 
  align-items: center;
  height: auto;
  width: 100%;
}
 

li {
  
}

li a {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 18px;
  transition: color 0.3s ease;
}

li a:hover {
  color: rgb(54, 211, 225); 
  border-radius: 5px;
}
li a.active {
  color: rgb(54, 211, 225);
  font-weight: bold;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .menu-container ul {
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
  }

  li a {
    display: block;
    padding: 10px 0;
    font-size: 20px;
  }

  .menu-container {
    margin-top: 0;
    padding: 10px 0;
  }
}

/* Container between menu line */
.menu-container {
  width: 100%;
  padding: 4px 0;       /* πιο στενό γύρω από το μενού */
  margin-top: -30px;    /* φέρνει το menu πιο κοντά στην επικεφαλίδα */
}
.logo-container img {
  max-width: 310px; /* Μικρότερο μέγεθος εικόνας */
  height: auto;
  display: block;
  margin: 0 auto 50px auto; /* Κέντρο και κενό κάτω */
}
.logo-container h1 {
  margin-top: 15px; /* Κενό πάνω από το h1 για να μην κολλάει στο logo */
  margin-bottom: 60px; /* Κενό κάτω από το h1 για να μην κολλάει στο μενού */
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.2rem;
	text-align: center;
}
.logo-container {
  background-color: rgb(54, 211, 225);  /* σκούρο μπλε φόντο */
  padding: 20px 0;                     /* πάνω-κάτω padding */
  text-align: center;                  /* κεντράρισμα περιεχομένου */
  border-radius: 10px;                 /*  στρογγυλεμένες γωνίες */
  margin-bottom: 30px;                 /* κενό κάτω από το container,  */
}

/* Ενεργό κουμπί */
.amount-btn.active,
.type-btn.active,
.payment-btn.active {
  background-color: #0d6efd !important;
  color: white !important;
  border-color: #0d6efd !important;
}

/* Κουμπιά ποσών */
.amount-btn {
  min-width: 80px;
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}

/* Radio κουμπιά τύπου Single/Monthly */
.btn-group .btn {
  padding: 0.35rem 0.9rem;
  font-size: 0.95rem;
  border-radius: 20px;
  margin: 0 3px;
}

/* Κουμπιά τρόπου πληρωμής */
.payment-btn {
  min-width: 100px;
  margin: 0.4rem;
  padding: 0.5rem 1.2rem;
}
