.menu-container ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-around; 
  align-items: center;
  height: auto;
  width: 100%;
}


li {                   
  
}


li a {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

li a:hover {
  color: rgb(54, 211, 225);    
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .menu-container ul {
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
  }

  li a {
    display: block;
    padding: 10px 0;
    font-size: 20px;
  }

  .menu-container {
    margin-top: 0;
    padding: 10px 0;
  }
}



.menu-container {
  width: 100%;
  padding: 4px 0;
  margin-top: -30px;

}


li a.active {
  color: rgb(54, 211, 225);
  font-weight: bold;
  transform: scale(1.1);
}


.logo-container {
  background-color: rgb(54, 211, 225);
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.logo-container img {
  max-width: 310px;
  height: auto;
  display: block;
  margin: 0 auto 50px;
}

.logo-container h1 {
  margin: 15px 0 60px;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.2rem;
  text-align: center;
}

.contact-info {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

/* Εικονίδια */
.contact-info i {
  font-size: 1.2rem;
  color: #6c757d; /* Ξεθωριασμένο γκρι */
  margin-right: 10px;
}

/* Κείμενο επικοινωνίας */
.contact-info p {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333;
}

/* Χάρτης */
.contact-info iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
}
