/* Ιδιοτητες μπαρας menu*/
.menu-container ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-around; 
  align-items: center;
  height: auto;
  width: 100%;
}

 

li {
  
}

li a {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 18px;
  transition: color 0.3s ease;
}

li a:hover {
  color: rgb(54, 211, 225); 
  border-radius: 5px;
}

li a.active {
  color: rgb(54, 211, 225);
  font-weight: bold;
  transform: scale(1.1);
}

/* Container between menu line */
.menu-container {
  width: 100%;
  padding: 4px 0;       /* πιο στενό γύρω από το μενού */
  margin-top: -30px;    /* φέρνει το menu πιο κοντά στην επικεφαλίδα */
}

@media (max-width: 768px) {
  .menu-container ul {
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
  }

  li a {
    display: block;
    padding: 10px 0;
    font-size: 20px;
  }

  .menu-container {
    margin-top: 0;
    padding: 10px 0;
  }
}



.logo-container img {
  max-width: 310px; /* Μικρότερο μέγεθος εικόνας */
  height: auto;
  display: block;
  margin: 0 auto 50px auto; /* Κέντρο και κενό κάτω */
}


.logo-container h1 {
  margin-top: 15px; /* Κενό πάνω από το h1 για να μην κολλάει στο logo */
  margin-bottom: 60px; /* Κενό κάτω από το h1 για να μην κολλάει στο μενού */
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.2rem;
	text-align: center;
}


.logo-container {
  background-color: rgb(54, 211, 225);  /* σκούρο μπλε φόντο */
  padding: 20px 0;                     /* πάνω-κάτω padding */
  text-align: center;                  /* κεντράρισμα περιεχομένου */
  border-radius: 10px;                 /* στρογγυλεμένες γωνίες */
  margin-bottom: 30px;                 /* κενό κάτω από το container */
	position: relative;
}
	
	/*δυγλωσσο*/
	

	.language-switcher {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 16px;
}

.language-switcher .lang-link {
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding: 4px 8px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.language-switcher .lang-link:hover {
  color: rgb(178, 34, 34);
  transform: scale(1.1);
}
